.button {
	@include flex-center(true);
	width: 167px;
	height: var(--button-height);
	padding: 10px;
	font-size: 15px;
	color: var(--color-light);
	font-weight: 600;
	background-color: var(--color-accent);
	border: none;
	border-radius: 4px;

	@include hover {
		cursor: pointer;
		background-color: #7f1d1d;
		color: whitesmoke;
		
	}

}