.score {
	&__list {
			margin-bottom: 160px;

		@include desktop {
			grid-template-columns: repeat(2, 2fr);
			
		}

		@include mobile-s {
			grid-template-columns: repeat(1, 1fr);
		}
	
	}

	&__title {
		margin-bottom: 43px;
	}
}