.policy {
  &__header {
    margin-bottom: 50px;
  }

  &__description {
    font-weight: bold;
    margin-bottom: 70px;
  }

  &__body {
    ul {
      list-style-type: none;
      padding: 0;
    }

    li {
      margin-bottom: 50px;
      h3,
      h4 {
        color: #d51b1b;
        margin: 0;
        margin-bottom: 30px;
      }

      p {
        line-height: 1.95;
      }
    }
  }
}

.table {
  tr {
    display: table;
    padding-bottom: 50px;

    td:first-child {
      vertical-align: top;
      width: 265px;
      color: rgba(0, 0, 0, 0.6);
      font-weight: bold;
    }

    td:last-child {
      padding-left: 180px;
      line-height: 1.95;
    }
  }
}
