.help {
	&__item {
			list-style-type: none;
	}
	&__list {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__accordion {
		border: 2px solid #b2b2b2;

		&-button {
			display: flex;
			justify-content: center;
			margin-bottom: 30px;
		}
		transition-duration: var(--transition-duration);

		&-body {

			&-image {

				img {
					max-width: none;
				}
			}
			padding-left: 45px;
			width: 97%;
			padding-bottom: 15px;
			display: flex;
			flex-direction: row;
			column-gap: 43px;

			ol {
				li {
					margin-bottom: 40px;
					font-weight: 600;
				}
			}

			&-title {
				display: flex;
				justify-content: center;

				h5 {
					font-size: 32px;
				}
			}

			&-inner {
				display: flex;
				justify-content: space-between;
				margin-bottom: 25px;
			}

		}

		&[open] {


			.help__accordion-header {
				margin-bottom: 30px;
				color: var(--color-accent);

			}

			.help__accordion-indicator::after {
				rotate: 0deg;
				transition-duration: var(--transition-duration);

			}

			.help__accordion-body {
				margin-bottom: 5px;
			}

			
		}

		&-header {
			
			display: flex;
			justify-content: space-between;
			align-items: center;
			column-gap: 50px;
			cursor: pointer;
			user-select: none;
			padding-left: 20px;
			border-bottom: 1px solid #b2b2b2;


			@include hover {
				color: var(--color-accent);
				transition-duration: var(--transition-duration);
			}
		}

		&-indicator {
			@include flex-center;
			width: 50px;
			height: 50px;
			position: relative;
			background-color: white;
			
			

			&::before, 
			&::after {
				@include abs-center;

				content: '';
				width: 50%;
				height: 10%;
				background-color: var(--color-dark);
				
				
			}

			&::after {
				transition-duration: var(--transition-duration);
				rotate: 90deg;
				
				
			}

		}
	}

}