.swiper {
  transition-duration: var(transition-duration);
  width: 100%;

  &-pagination {
    transition-duration: var(transition-duration);
    position: relative !important;
    margin-top: 60px;
  }

  &__slide__desc {
    margin-top: 34px;
    font-size: 18px;
  }
}
