.swiper {
  transition-duration: var(transition-duration);
  width: 100%;
  height: 640px;

  &-pagination {
    transition-duration: var(transition-duration);
  }

  &__slide__desc {
    margin-top: 34px;
    font-size: 18px;
  }
}
