@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
   Пригодится в большинстве ситуаций
   (когда, например, нужно будет "прижать" футер к низу сайта)
  */
  height: 100%;
  /**
   Плавный скролл
  */
  scroll-behavior: smooth;
}

body {
  /**
   Пригодится в большинстве ситуаций
   (когда, например, нужно будет "прижать" футер к низу сайта)
  */
  min-height: 100%;
  /**
   Унифицированный интерлиньяж
  */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Balkara";
  src: url("../fonts/Balkara.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-dark: #1D1D1D;
  --color-light: #ffff;
  --color-accent: rgba(213, 27, 27, 0.9);
  --color-accent-active: #2F2FAB;
  --color-accent-alt: rgba(255, 0, 0, 0.7);
  --color-gray: rgba(217, 217, 217, 0.15);
  --color-gray-alt: #757575;
  --color-dark-alt: rgba(0, 0, 0, 0.3);
  --border: 1px solid var(--color-gray-alt);
  --border-alt: 1px solid var(--color-dark-alt);
  --border-radius: 15px;
  --border-radius-small: 7px;
  --font-family-base: "Inter", sans-serif;
  --font-family-accent: "Balkara", sans-serif;
  --container-width: 1300px;
  --container-padding-x: 20px;
  --section-padding-y: 160px;
  --input-height: 72px;
  --button-height: 45px;
  --transition-duration: 0.2s;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.container-about {
  margin-top: 160px;
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

body {
  font-size: clamp(16px, 1.5384615385vw, 20px);
  font-family: var(--font-family-base);
  font-weight: 400;
  line-height: 1.28;
  color: var(--color-dark);
  background-color: var(--color-light);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2 {
  font-weight: 700;
}

h3, h4 {
  font-weight: 600;
}

h1 {
  font-size: clamp(43px, 7.6923076923vw, 100px);
}

h2 {
  font-size: clamp(36px, 3.6923076923vw, 48px);
}

h3 {
  font-size: clamp(20px, 1.8461538462vw, 24px);
}

h4 {
  font-size: clamp(18px, 1.5384615385vw, 20px);
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 167px;
  height: var(--button-height);
  padding: 10px;
  font-size: 15px;
  color: var(--color-light);
  font-weight: 600;
  background-color: var(--color-accent);
  border: none;
  border-radius: 4px;
}
@media (hover: hover) {
  .button:hover {
    cursor: pointer;
    background-color: #7f1d1d;
    color: whitesmoke;
  }
}
@media (hover: none) {
  .button:active {
    cursor: pointer;
    background-color: #7f1d1d;
    color: whitesmoke;
  }
}

.current-page {
  color: var(--color-accent) !important;
}

.desktop-overlay {
  transition-duration: var(--transition-duration);
  width: 1200px;
  height: 800px;
  margin: auto;
  padding: 14px 20px;
  border: none;
  border-radius: 15px;
}
.desktop-overlay:modal {
  max-width: 100%;
  max-height: 100%;
}
.desktop-overlay__close-button-wrapper {
  display: flex;
  justify-content: flex-end;
}
.desktop-overlay__body {
  display: flex;
  justify-content: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.desktop-overlay__body iframe {
  width: 540px;
  height: 700px;
  border-radius: 15px;
}

.message-body {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.message-form {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
.message-form-body {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.message-form-body input {
  padding-top: 15px;
  padding-left: 12px;
  padding-bottom: 15px;
  background-color: transparent;
  width: 100%;
  height: 70px;
  border: 1px solid #757575;
  border-radius: 6px;
}
.message-form-body textarea {
  resize: none;
  width: 100%;
  height: 140px;
  color: #75797d;
  padding-top: 15px;
  padding-left: 12px;
  padding-bottom: 15px;
  background-color: transparent;
  border: 1px solid #757575;
  border-radius: 6px;
}
.message-form-body-textplaceholder {
  display: flex;
}

.burger-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 48px;
  aspect-ratio: 1;
  position: relative;
  border-radius: var(--border-radius-small);
}
@media (hover: hover) {
  .burger-button:hover {
    background-color: var(--color-accent);
  }
}
@media (hover: none) {
  .burger-button:active {
    background-color: var(--color-accent);
  }
}
.burger-button::after {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 50%;
  height: 2px;
  background-color: var(--color-light);
  border-radius: 5px;
  box-shadow: 0 -8px, 0 8px;
  color: var(--color-light);
}

.header {
  position: relative;
  z-index: 2;
  padding-top: 36px;
}
@media (max-width: 1280px) {
  .header {
    padding-top: 30px;
  }
}
@media (max-width: 767px) {
  .header {
    padding-top: 15px;
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
@media (max-width: 1023px) {
  .header__inner {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media (max-width: 1280px) {
  .header__logo {
    min-width: 75px;
  }
}
@media (max-width: 1023px) {
  .header__logo {
    min-width: 75px;
  }
}
.header__menu {
  font-size: 15px;
}
@media (max-width: 1280px) {
  .header__menu {
    font-size: 15px;
  }
}
@media (max-width: 1023px) {
  .header__menu {
    font-size: 15px;
  }
}
.header__menu-list {
  white-space: nowrap;
  display: flex;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
@media (max-width: 1280px) {
  .header__menu-list {
    -moz-column-gap: 25px;
         column-gap: 25px;
    flex-wrap: wrap;
  }
}
.header__menu-link {
  color: var(--color-light);
  display: inline-flex;
  align-items: center;
  height: 48px;
}
.header__menu-link:hover {
  color: var(--color-accent);
}
.header__button {
  white-space: nowrap;
}

.cross-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 48px;
  aspect-ratio: 1;
  position: relative;
  border-radius: var(--border-radius-small);
}
@media (hover: hover) {
  .cross-button:hover {
    background-color: var(--color-accent);
  }
}
@media (hover: none) {
  .cross-button:active {
    background-color: var(--color-accent);
  }
}
.cross-button::before, .cross-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 7px;
  width: 70%;
  height: 2px;
  background-color: var(--color-dark);
  border-radius: 5px;
}
.cross-button::before {
  rotate: 45deg;
}
.cross-button::after {
  rotate: -45deg;
}

.mobile-overlay {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 14px 20px;
  border: none;
}
.mobile-overlay:modal {
  max-width: 100%;
  max-height: 100%;
}
.mobile-overlay__close-button-wrapper {
  display: flex;
  justify-content: end;
}
.mobile-overlay__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;
  min-height: 80vh;
}

.section-upper {
  position: relative;
  margin-top: -84px;
  z-index: 1;
  max-width: 100%;
  background: url("../images/section-title.png") center/cover no-repeat;
  padding-block: var(--section-padding-y);
}
@media (min-width: 1024px) {
  .section-upper {
    margin-top: -130px;
  }
}
@media (max-width: 1023px) {
  .section-upper {
    margin-top: -130px;
  }
}

.section {
  margin-bottom: 160px;
}
.section__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section__header:not(:last-child) {
  margin-bottom: 43px;
}
@media (max-width: 767px) {
  .section__header {
    align-content: center;
    flex-wrap: wrap;
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
}
@media (max-width: 480px) {
  .section__header {
    flex-direction: column;
    row-gap: 10px;
  }
}
.section__title {
  max-width: 743px;
}
.section__description {
  max-width: 389px;
}
.section__description p {
  font-weight: 600;
}

.hero {
  display: flex;
  flex-direction: column;
  row-gap: var(--section-padding-y);
}
.hero__main {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__body {
  display: flex;
  flex-direction: column;
  color: var(--color-light);
  max-width: 1048px;
  row-gap: 15px;
  align-items: center;
  text-align: center;
}
.hero__body h1 {
  font-family: "Balkara", sans-serif;
  font-size: 128px;
}
@media (max-width: 1280px) {
  .hero__body h1 {
    font-size: 64px;
  }
}
.hero__body h2 {
  margin: 0;
}
.hero__body__text {
  font-size: 20px;
  line-height: 1.4;
}
.hero__button {
  margin-top: 53px;
  color: white;
  background-color: transparent;
  width: 300px;
  height: 54px;
  white-space: nowrap;
  border-width: 1px;
  border-style: solid;
  -o-border-image: linear-gradient(to right, #ECEFF4, #0000FF, #EC1C24) 1;
     border-image: linear-gradient(to right, #ECEFF4, #0000FF, #EC1C24) 1;
}
@media (hover: hover) {
  .hero__button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
  }
}
@media (hover: none) {
  .hero__button:active {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
  }
}

.hero-navigation {
  display: flex;
  flex-direction: column;
  row-gap: var(--section-padding-y);
}
.hero-navigation__main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-navigation__body {
  display: flex;
  flex-direction: column;
  color: var(--color-light);
  max-width: 1048px;
  row-gap: 15px;
  align-items: center;
  text-align: center;
}
.hero-navigation__navigation-list {
  white-space: nowrap;
  font-size: 16px;
  display: flex;
  justify-content: center;
  -moz-column-gap: 25px;
       column-gap: 25px;
}
@media (max-width: 1023px) {
  .hero-navigation__navigation-list {
    flex-wrap: wrap;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}
@media (max-width: 480px) {
  .hero-navigation__navigation-list {
    flex-wrap: wrap;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}
.hero-navigation__navigation-link {
  color: var(--color-dark);
  display: inline-flex;
  align-items: center;
  height: 48px;
}
.hero-navigation__navigation-link:hover {
  color: var(--color-accent-active);
}

.videoholder {
  margin-block: 130px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1023px) {
  .videoholder {
    margin-block: 100px;
  }
}
@media (max-width: 767px) {
  .videoholder {
    margin-block: 70px;
  }
}
.videoholder__body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 43px;
  row-gap: 10px;
}
.videoholder__body video {
  margin-top: 43px;
  margin-bottom: 15px;
  max-width: 900px;
}
.videoholder__body h2 {
  margin: 0;
}
.videoholder__body p {
  font-size: 24px;
  font-weight: 600;
}
@media (max-width: 1023px) {
  .videoholder__body {
    row-gap: 20px;
  }
  .videoholder__body video {
    width: 750px;
  }
}
@media (max-width: 767px) {
  .videoholder__body {
    row-gap: 15px;
  }
  .videoholder__body video {
    width: 480px;
  }
}
@media (max-width: 480px) {
  .videoholder__body video {
    width: 470px;
  }
}

.grid {
  --gridColumns: 1;
  display: grid;
  grid-template-columns: repeat(var(--gridColumns), 1fr);
  gap: 20px;
}
.grid--2 {
  --gridColumns: 2;
}
.grid--3 {
  --gridColumns: 3;
}
.grid--4 {
  --gridColumns: 4;
}
.grid--5 {
  --gridColumns: 5;
}
.grid--6 {
  --gridColumns: 6;
}
.grid--7 {
  --gridColumns: 7;
}
.grid--8 {
  --gridColumns: 8;
}
.grid--9 {
  --gridColumns: 9;
}
.grid--10 {
  --gridColumns: 10;
}
.grid--11 {
  --gridColumns: 11;
}
.grid--12 {
  --gridColumns: 12;
}

.score-bg-1 {
  background: linear-gradient(135deg, #d5691b 0%, #2f2fab 100%);
}

.score-bg-2 {
  background: linear-gradient(135deg, #32856c 1.32%, #2f2fab 100%);
}

.score-bg-3 {
  background: linear-gradient(135deg, #5da9a9 0%, #2f2fab 100%);
}

.score-bg-4 {
  background: linear-gradient(135deg, #d51b1b 0%, #2f2fab 100%);
}

.cards__list:not(:last-child) {
  margin-bottom: 160px;
}
@media (max-width: 1280px) {
  .cards__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 1023px) {
  .cards__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .cards__list {
    grid-template-columns: repeat(1, 1fr);
  }
}

.cards-card {
  min-width: 150px;
  height: 180px;
  background-color: #D51B1B;
  color: white;
  border-radius: var(--border-radius-small);
}
.cards-card__body {
  display: flex;
  padding-left: 30px;
  padding-top: 25px;
  flex-direction: column-reverse;
  row-gap: 30px;
}
.cards-card__image {
  width: 50px;
  aspect-ratio: 1;
}

.score__list {
  margin-bottom: 160px;
}
@media (max-width: 1280px) {
  .score__list {
    grid-template-columns: repeat(2, 2fr);
  }
}
@media (max-width: 480px) {
  .score__list {
    grid-template-columns: repeat(1, 1fr);
  }
}
.score__title {
  margin-bottom: 43px;
}

.score-card {
  min-width: 155px;
  height: 185px;
  color: white;
  border-radius: var(--border-radius-small);
}
.score-card__body {
  display: flex;
  padding-left: 30px;
  padding-top: 25px;
  flex-direction: column;
  row-gap: 25px;
  font-size: 16px;
}
@media (max-width: 767px) and (min-width: 481px) {
  .score-card__body {
    padding-left: 10px;
    padding-top: 0;
  }
}
.score-card__body h3 {
  font-size: 60px;
  font-weight: 700;
  text-wrap: nowrap;
}

.charity-photos__inner {
  display: flex;
  justify-content: space-between;
  padding-bottom: 160px;
}
@media (max-width: 1280px) and (min-width: 481px) {
  .charity-photos__inner {
    align-items: center;
    flex-direction: column;
    row-gap: 50px;
  }
}
.charity-photos__inner figure {
  max-width: 350px;
  margin: 0;
}
.charity-photos__inner figure:last-child {
  margin-right: 0;
}
.charity-photos__inner figure img {
  max-width: inherit;
}
.charity-photos__inner figcaption {
  padding-top: 25px;
}
@media (max-width: 767px) {
  .charity-photos__inner figcaption {
    padding-top: 15px;
  }
}

.partners__images {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 72px;
       column-gap: 72px;
  row-gap: 43px;
  flex-wrap: wrap;
}
@media (min-width: 1281px) {
  .partners__images {
    -moz-column-gap: 25px;
         column-gap: 25px;
    justify-content: center;
  }
}
@media (max-width: 1280px) {
  .partners__images {
    -moz-column-gap: 25px;
         column-gap: 25px;
    justify-content: center;
  }
}

.trust__inner {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 113px;
       column-gap: 113px;
  row-gap: 43px;
  flex-wrap: wrap;
}
@media (max-width: 1280px) {
  .trust__inner {
    -moz-column-gap: 75px;
         column-gap: 75px;
    justify-content: center;
  }
}
@media (min-width: 1024px) {
  .trust__inner {
    justify-content: space-between;
    align-content: center;
  }
}
@media (min-width: 768px) {
  .trust__inner {
    justify-content: center;
  }
}
.trust__platform {
  padding-top: 160px;
}

.platform__list {
  align-items: center;
  display: flex;
  flex-direction: row;
  -moz-column-gap: 150px;
       column-gap: 150px;
  row-gap: 43px;
  flex-wrap: wrap;
}
@media (max-width: 1280px) {
  .platform__list {
    -moz-column-gap: 75px;
         column-gap: 75px;
    justify-content: center;
  }
}
@media (min-width: 1024px) {
  .platform__list {
    justify-content: space-between;
    align-content: center;
  }
}
@media (min-width: 768px) {
  .platform__list {
    justify-content: center;
  }
}

.documents__list {
  display: flex;
  flex-direction: column;
  row-gap: 36px;
}
.documents__accordion {
  padding-top: 20px;
  padding-bottom: 20px;
  transition-duration: var(--transition-duration);
}
.documents__accordion-body {
  display: inline-flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  align-items: end;
}
@media (hover: hover) {
  .documents__accordion-body:hover {
    transition-duration: var(--transition-duration);
    cursor: pointer;
    color: var(--color-accent);
  }
  .documents__accordion-body:hover svg {
    stroke: var(--color-accent);
  }
}
@media (hover: none) {
  .documents__accordion-body:active {
    transition-duration: var(--transition-duration);
    cursor: pointer;
    color: var(--color-accent);
  }
  .documents__accordion-body:active svg {
    stroke: var(--color-accent);
  }
}
.documents__accordion[open] .documents__accordion-header {
  margin-bottom: 30px;
}
.documents__accordion[open] .documents__accordion-indicator::after {
  rotate: 0deg;
  transition-duration: var(--transition-duration);
}
.documents__accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 50px;
       column-gap: 50px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border-bottom: 1px solid #b2b2b2;
}
.documents__accordion-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  position: relative;
  background-color: white;
}
.documents__accordion-indicator::before, .documents__accordion-indicator::after {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 50%;
  height: 10%;
  background-color: var(--color-dark);
}
.documents__accordion-indicator::after {
  transition-duration: var(--transition-duration);
  rotate: 90deg;
}

.banner-partnership {
  background: url(../images/partnership.png) center/cover no-repeat;
  max-width: 1300px;
  height: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
}
.banner-partnership__title {
  color: white;
}
.banner-partnership__description {
  color: white;
}
.banner-partnership__button {
  margin-top: 65px;
  width: 208px;
}

.button-footer {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 50px;
  padding: 11px;
  font-size: 15px;
  color: var(--color-light);
  font-weight: 600;
  background-color: var(--color-accent);
  border: none;
  border-radius: 4px;
}
@media (hover: hover) {
  .button-footer:hover {
    cursor: pointer;
    background-color: #7f1d1d;
    color: whitesmoke;
  }
  .button-footer:hover svg {
    stroke: rgba(255, 255, 255, 0.5);
  }
}
@media (hover: none) {
  .button-footer:active {
    cursor: pointer;
    background-color: #7f1d1d;
    color: whitesmoke;
  }
  .button-footer:active svg {
    stroke: rgba(255, 255, 255, 0.5);
  }
}

.footer {
  padding-bottom: 25px;
  border-top: 1px solid rgba(236, 28, 36, 0.5);
}
.footer__inner {
  display: flex;
  justify-content: space-between;
}
.footer__navigation {
  margin-top: 35px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.footer__socials {
  display: flex;
  -moz-column-gap: 43px;
       column-gap: 43px;
}
@media (max-width: 1023px) and (min-width: 768px) {
  .footer__socials {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}
@media (max-width: 767px) and (min-width: 481px) {
  .footer__socials {
    flex-direction: column;
    row-gap: 20px;
    margin-right: 5px;
  }
}
@media (max-width: 480px) {
  .footer__socials {
    flex-direction: column;
    row-gap: 15px;
    margin-right: 5px;
  }
}
.footer__socials__list {
  display: flex;
  flex-direction: column;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.footer ul {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
@media (hover: hover) {
  .footer ul li:hover {
    color: var(--color-accent);
  }
}
@media (hover: none) {
  .footer ul li:active {
    color: var(--color-accent);
  }
}
.footer h5 {
  margin: 0;
  color: rgba(0, 0, 0, 0.3);
}
.footer__body {
  margin-top: 35px;
  border-left: 1px solid rgba(164, 168, 180, 0.5);
  padding-left: 60px;
}
@media (max-width: 1023px) and (min-width: 768px) {
  .footer__body {
    padding-left: 15px;
    margin-left: 15px;
  }
}
@media (max-width: 767px) and (min-width: 481px) {
  .footer__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
  }
}
@media (max-width: 480px) {
  .footer__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
  }
}
.footer__body-hyperlink {
  font-size: 34px;
  font-weight: 700;
  border-bottom: 1px solid rgb(236, 28, 36);
}
@media (hover: hover) {
  .footer__body-hyperlink:hover {
    color: var(--color-accent);
  }
}
@media (hover: none) {
  .footer__body-hyperlink:active {
    color: var(--color-accent);
  }
}
@media (max-width: 1023px) and (min-width: 768px) {
  .footer__body-hyperlink {
    font-size: 24px;
  }
}
@media (max-width: 767px) and (min-width: 481px) {
  .footer__body-hyperlink {
    font-size: 24px;
  }
}
@media (max-width: 480px) {
  .footer__body-hyperlink {
    font-size: 24px;
  }
}
.footer__body p {
  margin-top: 35px;
  font-size: 18px;
}
.footer__body-extra {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 23px;
       column-gap: 23px;
  align-items: flex-end;
}
@media (max-width: 1023px) and (min-width: 768px) {
  .footer__body-extra {
    align-items: center;
    flex-direction: column;
    row-gap: 15px;
  }
}
@media (max-width: 767px) and (min-width: 481px) {
  .footer__body-extra {
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
  }
}
@media (max-width: 480px) {
  .footer__body-extra {
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
  }
}
.footer__body-extra p {
  text-decoration: none;
}
@media (hover: hover) {
  .footer__body-extra p:hover {
    color: black;
  }
}
@media (hover: none) {
  .footer__body-extra p:active {
    color: black;
  }
}
.footer__body input {
  padding-top: 15px;
  padding-left: 12px;
  padding-bottom: 15px;
  background-color: transparent;
  height: 50px;
  border: 1px solid #757575;
  border-radius: 6px;
}
@media (max-width: 1023px) and (min-width: 768px) {
  .footer__body input {
    padding-right: 0;
  }
}
@media (max-width: 767px) and (min-width: 481px) {
  .footer__body input {
    width: 70%;
    padding-right: 0;
  }
}
@media (max-width: 480px) {
  .footer__body input {
    width: 70%;
    padding-right: 0;
  }
}
.footer__body-textplaceholder {
  display: flex;
  justify-content: center;
}

.gethelp__item {
  list-style-type: none;
}
.gethelp__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.gethelp__accordion {
  border: 2px solid #b2b2b2;
  transition-duration: var(--transition-duration);
}
.gethelp__accordion-button {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.gethelp__accordion-body {
  width: 97%;
  padding-left: 30px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
}
.gethelp__accordion-body-title {
  display: flex;
  justify-content: center;
}
.gethelp__accordion-body-title h5 {
  font-size: 32px;
}
.gethelp__accordion-body-inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.gethelp__accordion[open] .gethelp__accordion-header {
  margin-bottom: 30px;
  color: var(--color-accent);
}
.gethelp__accordion[open] .gethelp__accordion-indicator::after {
  rotate: 0deg;
  transition-duration: var(--transition-duration);
}
.gethelp__accordion[open] .gethelp__accordion-body {
  margin-bottom: 5px;
}
.gethelp__accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 50px;
       column-gap: 50px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding-left: 20px;
  border-bottom: 1px solid #b2b2b2;
}
@media (hover: hover) {
  .gethelp__accordion-header:hover {
    color: var(--color-accent);
    transition-duration: var(--transition-duration);
  }
}
@media (hover: none) {
  .gethelp__accordion-header:active {
    color: var(--color-accent);
    transition-duration: var(--transition-duration);
  }
}
.gethelp__accordion-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  position: relative;
  background-color: white;
}
.gethelp__accordion-indicator::before, .gethelp__accordion-indicator::after {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 50%;
  height: 10%;
  background-color: var(--color-dark);
}
.gethelp__accordion-indicator::after {
  transition-duration: var(--transition-duration);
  rotate: 90deg;
}

.section-main-gethelp {
  margin-top: 160px;
  margin-bottom: 160px;
}
.section-main-gethelp__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-main-gethelp__header:not(:last-child) {
  margin-bottom: 43px;
}
@media (max-width: 767px) {
  .section-main-gethelp__header {
    align-content: center;
    flex-wrap: wrap;
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
}
@media (max-width: 480px) {
  .section-main-gethelp__header {
    flex-direction: column;
    row-gap: 10px;
  }
}
.section-main-gethelp__title {
  text-align: center;
}
.section-main-gethelp__description {
  max-width: 389px;
}
.section-main-gethelp__description p {
  font-weight: 600;
}

.cards-card2 {
  min-width: 150px;
  height: 180px;
  background-color: #D51B1B;
  color: white;
  border-radius: var(--border-radius-small);
}
.cards-card2__body {
  display: flex;
  padding-left: 30px;
  padding-top: 25px;
  flex-direction: column-reverse;
  row-gap: 30px;
}
.cards-card2__image {
  width: 50px;
  aspect-ratio: 1;
}

.cards__container {
  display: inline-flex;
  flex-direction: row;
  -moz-column-gap: 50px;
       column-gap: 50px;
  align-items: center;
}
.cards__container-link {
  margin-top: 43px;
  display: flex;
  justify-content: center;
}
.cards__container-link a {
  font-size: 24px;
  color: var(--color-accent);
}
@media (hover: hover) {
  .cards__container-link a:hover {
    color: #7f1d1d;
  }
}
@media (hover: none) {
  .cards__container-link a:active {
    color: #7f1d1d;
  }
}
.cards__container-button {
  width: 167px;
  height: 45px;
  margin-bottom: 17px;
}
.cards__container-document {
  background-color: rgba(217, 217, 217, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: 474px;
  height: 180px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cards__container-bank {
  background-color: rgba(217, 217, 217, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: 620px;
  height: 280px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}
.cards__container-bank-title {
  display: flex;
  justify-content: center;
}
.cards__container-bank-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cards__container-bank-sber {
  padding-left: 40px;
}
.cards__container-bank-sber h5 {
  margin: 0;
  margin-bottom: 5px;
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.5);
}
.cards__container-bank-sber p {
  line-height: 1.3;
}
.cards__container-bank-tinkoff {
  padding-right: 40px;
}
.cards__container-bank-tinkoff h5 {
  margin: 0;
  margin-bottom: 5px;
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.5);
}
.cards__container-bank-tinkoff p {
  line-height: 1.3;
}

.section-main-help {
  margin-top: 160px;
  margin-bottom: 160px;
}
.section-main-help__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-main-help__header:not(:last-child) {
  margin-bottom: 43px;
}
@media (max-width: 767px) {
  .section-main-help__header {
    align-content: center;
    flex-wrap: wrap;
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
}
@media (max-width: 480px) {
  .section-main-help__header {
    flex-direction: column;
    row-gap: 10px;
  }
}
.section-main-help__title {
  text-align: center;
}
.section-main-help__description {
  max-width: 389px;
}
.section-main-help__description p {
  font-weight: 600;
}

.help__item {
  list-style-type: none;
}
.help__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.help__accordion {
  border: 2px solid #b2b2b2;
  transition-duration: var(--transition-duration);
}
.help__accordion-button {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.help__accordion-body {
  padding-left: 45px;
  width: 97%;
  padding-bottom: 15px;
  display: flex;
  flex-direction: row;
  -moz-column-gap: 43px;
       column-gap: 43px;
}
.help__accordion-body-image img {
  max-width: none;
}
.help__accordion-body ol li {
  margin-bottom: 40px;
  font-weight: 600;
}
.help__accordion-body-title {
  display: flex;
  justify-content: center;
}
.help__accordion-body-title h5 {
  font-size: 32px;
}
.help__accordion-body-inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.help__accordion[open] .help__accordion-header {
  margin-bottom: 30px;
  color: var(--color-accent);
}
.help__accordion[open] .help__accordion-indicator::after {
  rotate: 0deg;
  transition-duration: var(--transition-duration);
}
.help__accordion[open] .help__accordion-body {
  margin-bottom: 5px;
}
.help__accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 50px;
       column-gap: 50px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding-left: 20px;
  border-bottom: 1px solid #b2b2b2;
}
@media (hover: hover) {
  .help__accordion-header:hover {
    color: var(--color-accent);
    transition-duration: var(--transition-duration);
  }
}
@media (hover: none) {
  .help__accordion-header:active {
    color: var(--color-accent);
    transition-duration: var(--transition-duration);
  }
}
.help__accordion-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  position: relative;
  background-color: white;
}
.help__accordion-indicator::before, .help__accordion-indicator::after {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 50%;
  height: 10%;
  background-color: var(--color-dark);
}
.help__accordion-indicator::after {
  transition-duration: var(--transition-duration);
  rotate: 90deg;
}

.shop {
  display: flex;
  flex-direction: column;
}
.shop__inner {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 35px;
       column-gap: 35px;
}
.shop__inner-item {
  display: flex;
  flex-direction: column;
  width: 390px;
}
.shop__inner-item-image {
  display: flex;
  align-self: center;
}
.shop__inner-item-image img {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 15px;
}
.shop__inner-item-description {
  display: flex;
  flex-direction: column;
}
.shop__inner-item-description h4 {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
  margin: 0;
  margin-top: 15px;
  margin-bottom: 13px;
}
.shop__inner-item-description p {
  font-weight: 800;
}

.help-chat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
}

* {
  outline: 2px solid green !important;
}/*# sourceMappingURL=styles.css.map */