.shop {
  display: flex;
  flex-direction: column;

  &__inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 35px;

    &-item {
      display: flex;
      flex-direction: column;
      width: 390px;

      &-image {
        display: flex;

        @include mobile-s-2 {
          justify-content: center;
        }

        img {
          border: 1px solid rgba(0, 0, 0, 0.3);
          object-fit: cover;
          border-radius: 15px;
        }
      }

      &-description {
        display: flex;
        flex-direction: column;

        @include mobile-s-2 {
          align-items: center;
        }

        h4 {
          font-weight: 600;
          color: rgba(0, 0, 0, 0.5);
          margin: 0;
          margin-top: 15px;
          margin-bottom: 13px;
        }

        p {
          font-weight: 800;
        }
      }
    }
  }
}
