.shop {
	display: flex;
	flex-direction: column;

	&__inner {

		display: flex;
		flex-direction: row;
		column-gap: 35px;

		&-item {
			display: flex;
			flex-direction: column;
			width: 390px;

			&-image {
			
				display: flex;
				align-self: center;

				img {
				border: 1px solid rgba(0, 0, 0, 0.3);
				border-radius: 15px;
				}
			
			}

		&-description {
			display: flex;
			flex-direction: column;

			h4 {
				font-weight: 600;
				color: rgba(0, 0, 0, 0.5);
				margin: 0;
				margin-top: 15px;
				margin-bottom: 13px;
			}

			p {
				font-weight: 800;
			}
		}
		}
	}
}