.platform {
  &__list {
    align-items: center;
    display: flex;
    flex-direction: row;
    column-gap: 150px;
    row-gap: 43px;
    flex-wrap: wrap;

    @include desktop {
      column-gap: 75px;
      justify-content: center;
    }

    @include tablet-above {
      justify-content: space-between;
      align-content: center;
    }

    @include mobile-above {
      justify-content: center;
    }
  }

  &__title {
    @include mobile {
      h2 {
        font-size: 28px;
      }
    }
  }
}
