.section-upper {
  position: relative;
  margin-top: -84px;
  z-index: 1;
  max-width: 100%;
  padding-block: var(--section-padding-y);
  display: flex;
  align-items: center;
  justify-content: center;

  @include tablet-above {
    margin-top: -130px;
  }

  @include tablet {
    margin-top: -130px;
  }
}
