@import '../../styles/styles.scss';

.main {
  display: flex;
  flex-direction: row;

  &__content {
    width: 1500px;
  }
}

.nav-menu {
  margin-top: 20px;
  margin-left: 33px;
  width: 300px;
  height: 100vh;

  border-right: 1px solid #eaeff4;

  h2 {
    font-weight: bold;
    color: #2a3547;
    font-size: 26px;
    margin: 0;

    &:hover {
      transition-duration: var(--transition-duration);
      color: #1976d2;
    }

    &:active {
      color: #7f1d1d;
    }
  }

  &__title {
    width: 220px;
    margin-bottom: 20px;

    &-line {
      margin-top: 15px;
      width: 217px;
      height: 1px;
      background-color: #eaeff4;
    }
  }

  &__wrapper {
    h3 {
      font-size: 20px;
      color: #5a6a85;
      margin-left: 13px;
    }
  }

  &__content {
    p {
      font-size: 18px;
      color: #5a6a85;
      margin-left: 13px;
      margin-bottom: 30px;

      &:hover {
        align-content: center;
        transition: var(--transition-duration);
        border-radius: 6px;
        height: 50px;
        background-color: #5d87ff;
        color: white;
        font-weight: 600;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 12px;
      }
    }

    ul {
      margin: 0;
    }

    li {
      margin-top: 15px;
      margin-bottom: 15px;
      font-size: 18px;
      color: #5a6a85;

      &:hover {
        align-content: center;
        transition: var(--transition-duration);
        border-radius: 6px;
        margin-left: -30px;
        height: 50px;
        background-color: #5d87ff;
        color: white;
        font-weight: 600;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 12px;
      }
    }
  }
}
