.cards-about {
	&__list {
		&:not(:last-child) {
			margin-bottom: 25px;
			
		}
	@include desktop {
		grid-template-columns: repeat(2, 1fr);
		
	}

	@include tablet {
		grid-template-columns: repeat(2, 1fr);
	}


	@include mobile-s {
		grid-template-columns: repeat(1, 1fr);
	}
	}
}